/* 768px or less */

#navbar {
  float: none;
  text-align: center;
  background: rgb(231, 230, 230, 0.8);
  padding-top: 10px;
}

#navbar .logo {
  float: none;
  text-align: center;
  display: inline;
  line-height: 1.7rem;
}

#navbar ul {
  float: none;
  text-align: center;
}

#navbar ul li {
  float: none;
  text-align: center;
  line-height: 0.2rem;
  border-bottom: 1px dotted #757474;
}

#navbar ul li a {
  padding: 15px;
}

#navbar .logo span {
  display: block;
  padding-bottom: 20px;
}

/* Floater */
.floater {
  margin: 120px 50px;
  padding: 20px 10px;
}

.floater .floater-content {
  line-height: 2.5rem;
}

/* Listings */
.list-container {
  height: auto;
}

.list-res-hidden {
  display: none;
}

.list-container .list-box {
  width: 100%;
  padding-bottom: 20px;
}

/* Company Info */
.company-ref .company-left {
  float: center;
  width: 100%;
}

.company-ref .company-right {
  float: center;
  width: 100%;
}

.company-ref .company-left img {
  width: 101px;
  height: auto;
}

.company-ref .company-right img {
  width: 200px;
  height: auto;
}

/* Forms */
#form input,
#form textarea,
#form select {
  width: 100%;
}
