:root {
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main page styling */
html {
  overflow: hidden;
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Cinzel', serif;
  line-height: 1.7rem;
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: #333;
  text-decoration: none;
}

hr {
  margin: 5rem;
}

::-webkit-scrollbar {
  display: none;
}

/* Parallax */
.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper:before {
  content: '';
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('/img/bg-index-4.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.parallax-wrapper-2 {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper-2:before {
  content: '';
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('/img/bg-index-6.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.regular-wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: relative;
  background: #e7e6e6;
}

.regular-wrapper-contact {
  width: 100vw;
  height: 80vh;
  z-index: 2;
  position: relative;
  background: #e7e6e6;
}

.regular-wrapper-footer {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: relative;
  background: #e7e6e6;
}

.content {
  margin: 0 auto;
  padding: 50px;
  width: 100%;
}

/* Utility */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
  height: auto;
}

.primary-app-color {
  color: #0d89c5;
}

.blank-bg {
  background: #e7e6e6;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #4d4d4d;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background: #0d89c5;
  color: #ccc;
}

/* Padding */
.px-1 {
  padding: 0 10px;
}
.px-2 {
  padding: 0 20px;
}
.px-3 {
  padding: 0 30px;
}

.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

/* Margin */
.mx-1 {
  margin: 0 10px;
}
.mx-2 {
  margin: 0 20px;
}
.mx-3 {
  margin: 0 30px;
}

.my-1 {
  margin: 10px 0;
}
.my-2 {
  margin: 20px 0;
}
.my-3 {
  margin: 30px 0;
}

/* Font sizing */
.medium-font {
  font-size: 20px;
}
.large-font {
  font-size: 32px;
}

/* Navbar */
#navbar {
  background-color: #e7e6e6;
  color: #0d89c5;
  overflow: auto;
}

#navbar a:hover {
  color: #4d4d4d;
}

#navbar .logo {
  float: left;
  line-height: 1.8rem;
  padding-top: 10px;
  width: 17rem;
}

/* Floater */
.floater {
  background: rgba(255, 255, 255, 0.8);
  margin: 15rem 0;
  padding: 3rem 4rem;
}

.floater .res-floater-content {
  display: none;
  font-size: 1.6rem;
  text-align: center;
  color: #0d89c5;
  overflow: hidden;
  line-height: 2.5rem;
}

.floater .floater-content {
  font-size: 1.6rem;
  text-align: center;
  color: #0d89c5;
  overflow: hidden;
  line-height: 2.5rem;
}

.floater .floater-content p a {
  color: #0d89c5;
}

.floater .floater-content p a:hover {
  color: #4d4d4d;
}

/* Listings */
.list-container {
  margin: auto;
  max-width: 100%;
  overflow: auto;
  padding-top: 50px;
  background: #e7e6e6;
  height: auto;
}

.list-container h2 {
  background: #4d4d4d;
  color: #0d89c5;
  padding: 1.6rem;
  margin: auto auto 5vh auto;
}

/* About-me */
.about-me-floater {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(24, 24, 24, 0.6);
  width: auto;
  height: 70vh;
  overflow: hidden;
  line-height: 2rem;
  margin: 8rem auto;
}

.about-me-content {
  color: rgb(255, 255, 255);
  padding: 0 2rem;
}

.about-me-floater img {
  margin-left: 30px;
}

.responsive-img {
  width: 40%;
  height: auto;
}

.about-me-content h1 {
  color: #0d89c5;
  padding-bottom: 2rem;
  font-size: 1.8rem;
  padding-left: 20px;
}

.about-me-content p {
  padding-left: 20px;
}

/* Company Info */
.company-content {
  width: auto;
  text-align: center;
  overflow: hidden;
  line-height: 2rem;
  margin: 2rem;
}

.company-ref {
  margin: auto;
  max-width: 100%;
  overflow: hidden;
  padding: 50px 20px;
  background: #e7e6e6;
  height: 80vh;
}

.company-ref .company-left {
  float: left;
  width: 40%;
  padding-left: 4rem;
}

.company-ref .company-right {
  float: right;
  width: 40%;
  margin: 5vh auto;
}

.company-ref .company-right-res {
  display: none;
}

.company-ref .company-right i {
  display: inline;
  margin: 1rem;
}

.company-ref .company-left i {
  border: #ccc solid 1px;
}

.company-ref .company-left h3 {
  text-align: center;
  padding-top: 15px;
}

.company-ref .company-left p {
  line-height: 2rem;
  text-align: center;
}

.company-ref .company-left p a:hover,
.company-ref .company-right p a:hover {
  color: #0d89c5;
}

/* Footer */
#footer {
  text-align: center;
  background: #fff;
  position: relative;
  margin: auto;
  color: #333;
  height: auto;
}

#footer p {
  padding: 30px;
}

@media screen and (max-width: 375px) and (max-height: 812px) {
  .list-container {
    padding: 150px 0;
  }

  .about-me-content p {
    font-size: 0.8rem;
  }

  .floater p {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 700px) and (max-height: 1150px) {
  .parallax-wrapper {
    width: 100vw;
    height: 50vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
  }

  .parallax-wrapper:before {
    margin-top: -25vh;
    content: '';
    width: 100vw;
    height: 50vh;
    top: 0;
    left: 0;
    background-image: url('/img/bg-index-4.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
  }

  .floater {
    margin-top: 10vh;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .floater .floater-content {
    display: none;
  }

  .floater .res-floater-content {
    font-size: 1rem;
    display: block;
    margin-bottom: 30vh;
  }

  .floater .res-floater-content h1 {
    padding-top: 3vh;
    font-size: 1.2rem;
  }

  .floater .res-floater-content p {
    font-size: 0.9rem;
  }

  .parallax-wrapper-2 {
    margin-top: 15vh;
    width: 150vw;
    height: 90vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
  }

  .parallax-wrapper-2:before {
    content: '';
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url('/img/bg-index-6.jpg');
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
  }

  .about-me-floater {
    width: 90vw;
    margin-top: 60vh;
    margin-right: 55vw;
    height: 25vh;
  }

  .about-me-floater img {
    margin-left: 5px;
  }

  .about-me-content {
    line-height: 1;
    font-size: 0.7rem;
    padding: 0;
    font-weight: 100;
  }

  .about-me-content h1 {
    padding: 0 0 0 5px;
    font-size: 1.3rem;
  }

  .about-me-content p {
    padding: 0 5px;
  }

  .company-ref {
    height: 70vh;
  }
}

@media screen and (max-width: 600px) and (max-height: 750px) {
  .res-card-3 {
    display: none;
  }

  .list-container {
    padding-bottom: 25px;
  }

  .about-me-floater {
    margin-top: 55vh;
    height: 30vh;
    width: 92vw;
  }

  .company-content {
    margin-bottom: 0;
  }

  .company-ref .company-left p {
    margin: 0;
  }
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .floater {
    margin: 20rem 0;
  }

  .list-container h2 {
    margin: 6vh 0;
  }

  .row > * {
    margin-bottom: 7rem;
  }

  .company-content {
    margin: 4rem 0 7rem 0;
  }

  .company-ref {
    padding: 50px 140px;
    height: 65vh;
  }

  hr {
    margin: 5rem;
  }

  #footer p {
    padding: 60px;
  }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
  .company-ref {
    padding: 0;
  }
}

@media screen and (max-width: 414px) and (max-height: 812px) {
  .floater {
    margin: 5rem 0;
  }

  .list-container {
    padding-top: 0;
  }

  .list-container h2 {
    margin-bottom: 5px;
  }

  .row > * {
    margin-bottom: 0;
  }

  .res-card-3 {
    margin-bottom: 20px;
  }

  .about-me-floater {
    margin-top: 50vh;
  }

  .company-content {
    margin: 2rem 0 2rem 0;
  }

  #footer p {
    padding: 40px;
  }

  hr {
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .about-me-floater {
    height: 60vh;
    margin: 17rem 0;
  }

  .company-ref {
    padding: 50px 0;
  }

  hr {
    margin: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .list-container {
    padding-top: 20px;
  }

  .list-container h2 {
    margin: 0;
  }

  .row > * {
    margin-bottom: 5px;
  }

  .res-card-3 {
    display: none;
  }

  .about-me-floater {
    margin: 29rem 0;
    height: 47vh;
  }

  .company-content {
    margin: 0;
  }
}

/* Responsive css */
@media screen and (max-width: 900px) {
  #navbar .logo span {
    display: block;
    padding-bottom: 20px;
  }

  /* Company Info */
  .company-ref .company-left {
    width: 100%;
    margin-top: 0;
    height: auto;
    padding: 0;
  }

  .company-ref .company-right {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-height: 890px) {
  .res-listings {
    display: none;
  }
}

@media screen and (max-height: 740px) {
  .floater {
    margin: 7rem 0;
  }
}

@media screen and (max-width: 767px) {
  .res-listings {
    display: none;
  }
}

@media screen and (max-height: 600px) {
  .floater {
    margin: 7rem 0;
  }

  .about-me-floater {
    line-height: 1.2;
  }

  .about-me-floater img {
    height: 300px;
    width: 260px;
  }
}

/* Contact Section queries */

@media screen and (max-height: 740px) {
  hr {
    margin: 1rem;
  }
}

@media screen and (max-height: 600px) {
  hr {
    margin: 5px;
  }
}

@media screen and (max-width: 700px) {
  .about-me-floater {
    margin: 20rem 0;
  }

  .about-me-content {
    font-size: 1rem;
  }

  .about-me-content h1 {
    font-size: 1.5rem;
  }

  .floater {
    margin: 10rem 0;
  }
}

@media screen and (max-width: 500px) {
  #navbar .logo {
    font-size: 1.3rem;
  }

  .company-content {
    line-height: 1.3rem;
  }
}

@media screen and (max-width: 345px) {
  .company-content {
    margin: 1rem 0;
  }

  .company-ref .company-left h3 {
    padding: 0;
  }
}

@media screen and (max-width: 250px) {
  .company-ref {
    font-size: 0.8rem;
  }
}

@media screen and (max-height: 670px) {
  .company-content {
    line-height: 1.5;
  }
}

@media screen and (max-height: 590px) {
  .company-content {
    margin: 1rem;
  }
}
