* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main page styling */
html {
  overflow: hidden;
}

html,
body {
  font-family: 'Cinzel', serif;
  line-height: 1.7rem;
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

hr {
  margin: 5rem;
}

::-webkit-scrollbar {
  display: none;
}

/* Parallax */
.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper:before {
  content: '';
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('/img/bg-index-4.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.parallax-wrapper-2 {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper-2:before {
  content: '';
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('/img/bg-index-6.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.regular-wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: relative;
}

.regular-wrapper-contact {
  width: 100vw;
  height: 80vh;
  z-index: 2;
  position: relative;
}

.regular-wrapper-footer {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: relative;
}

/* Utility */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #0d89c5;
}

.blank-bg {
  background: #e7e6e6;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #4d4d4d;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background: #0d89c5;
  color: #ccc;
}

/* Padding */
.px-1 {
  padding: 0 10px;
}
.px-2 {
  padding: 0 20px;
}
.px-3 {
  padding: 0 30px;
}

.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

/* Margin */
.mx-1 {
  margin: 0 10px;
}
.mx-2 {
  margin: 0 20px;
}
.mx-3 {
  margin: 0 30px;
}

.my-1 {
  margin: 10px 0;
}
.my-2 {
  margin: 20px 0;
}
.my-3 {
  margin: 30px 0;
}

/* Font sizing */
.medium-font {
  font-size: 20px;
}
.large-font {
  font-size: 32px;
}

/* Navbar */
#navbar {
  background-color: #e7e6e6;
  color: #0d89c5;
  overflow: auto;
}

#navbar a {
  color: #4d4d4d;
}

#navbar .logo {
  float: left;
  line-height: 1.8rem;
  padding-top: 10px;
  width: 17rem;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 30px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #ccc;
  color: #0d89c5;
}

/* Floater */
.floater {
  background: rgba(255, 255, 255, 0.8);
  margin: 15rem 0;
  padding: 3rem 4rem;
}

.floater .floater-content {
  font-size: 1.6rem;
  text-align: center;
  color: #0d89c5;
  overflow: hidden;
  line-height: 2.5rem;
}

.floater .floater-content p a {
  color: #0d89c5;
}

.floater .floater-content p a:hover {
  color: #4d4d4d;
}

/* Listings Section */
.list-container {
  margin: auto;
  max-width: 100%;
  overflow: auto;
  padding: 50px 20px;
  background: #e7e6e6;
  height: 100vh;
}

.list-container h2 {
  background: #4d4d4d;
  color: #0d89c5;
  padding: 1.6rem;
  margin: auto;
}

.list-container .list-box {
  background: #e7e6e6;
  margin: auto;
  /* float: left; */
  float: center;
  width: 25%;
  /* height: 40vh; */
  height: auto;
  border: #4d4d4d solid 2px;
}

.list-container .list-box img {
  width: 100%;
  height: auto;
}

.list-container .list-box p {
  font-size: 1.2rem;
  text-align: center;
  color: #4d4d4d;
  line-height: 1.4rem;
}

.list-container .list-box .price-box {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  color: #4d4d4d;
  border: #ccc solid 1px;
  width: 70%;
  margin: auto;
  transform: translate(0, -50%);
  background: #fff;
}

/* About-me */
.about-me-floater {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(24, 24, 24, 0.6);
  width: auto;
  height: 70vh;
  overflow: hidden;
  line-height: 2rem;
  margin: 8rem auto;
}

.about-me-content {
  color: rgb(255, 255, 255);
  padding: 0 2rem;
}

.about-me-floater img {
  margin-left: 30px;
}

.about-me-content h1 {
  color: #0d89c5;
  padding-bottom: 2rem;
  font-size: 1.8rem;
  padding-left: 20px;
}

.about-me-content p {
  padding-left: 20px;
}

/* Company Info */
.company-content {
  width: auto;
  text-align: center;
  overflow: hidden;
  line-height: 2rem;
  margin: 2rem;
}

.company-ref {
  margin: auto;
  max-width: 100%;
  overflow: hidden;
  padding: 50px 20px;
  background: #e7e6e6;
  height: 80vh;
}

.company-ref .company-left {
  float: left;
  width: 40%;
  padding-left: 4rem;
}

.company-ref .company-right {
  float: right;
  width: 40%;
  margin: 5vh auto;
}

.company-ref .company-right-res {
  display: none;
}

.company-ref .company-right i {
  display: inline;
  margin: 1rem;
}

.company-ref .company-left i {
  border: #ccc solid 1px;
}

.company-ref .company-left h3 {
  text-align: center;
  padding-top: 15px;
}

.company-ref .company-left p {
  line-height: 2rem;
  text-align: center;
}

.company-ref .company-left p a:hover,
.company-ref .company-right p a:hover {
  color: #0d89c5;
}

/* Footer */
#footer {
  text-align: center;
  background: #fff;
  position: relative;
  margin: auto;
  color: #333;
  height: auto;
}

#footer p {
  padding: 30px;
}

/* Responsive css */
@media screen and (max-width: 900px) {
  #navbar {
    float: none;
    text-align: center;
    background: rgb(231, 230, 230, 0.8);
    padding-top: 10px;
  }

  #navbar .logo {
    float: none;
    text-align: center;
    display: inline;
    line-height: 1.7rem;
  }

  #navbar ul {
    float: none;
    text-align: center;
  }

  #navbar ul li {
    float: none;
    text-align: center;
    line-height: 0.2rem;
    border-bottom: 1px dotted #757474;
  }

  #navbar ul li a {
    padding: 15px;
  }

  #navbar .logo span {
    display: block;
    padding-bottom: 20px;
  }

  /* Floater */
  .floater {
    margin: 120px 50px;
    padding: 20px 10px;
  }

  .floater .floater-content {
    line-height: 2.5rem;
  }

  /* Listings */
  .list-container {
    height: 100vh;
  }

  .list-res-hidden {
    display: none;
  }

  .list-container .list-box {
    min-width: 80%;
    padding-bottom: 20px;
    margin: auto;
  }

  .list-container h2 {
    max-width: 80%;
  }

  /* About-us */

  /* Company Info */
  .company-ref .company-left {
    width: 100%;
    margin-top: 0;
    height: auto;
    padding: 0;
  }

  .company-ref .company-right {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
  }
}

/* Height responsiveness */
@media screen and (max-height: 890px) {
  .floater {
    margin: 10rem 0;
  }

  .list-container {
    vertical-align: center;
  }

  .list-res-hidden {
    display: none;
  }

  .list-container .list-box {
    height: 37vh;
  }
}

@media screen and (max-height: 600px) {
  .floater {
    margin: 7rem 0;
  }

  .about-me-floater {
    line-height: 1.2;
  }

  .about-me-floater img {
    height: 300px;
    width: 260px;
  }
}

/* About Me Section queries */
@media screen and (max-width: 1020px) {
  .about-me-content {
    font-size: 0.9rem;
    line-height: 2;
  }
}

@media screen and (max-width: 965px) {
  .about-me-content {
    font-size: 0.8rem;
    line-height: 1.8;
  }
}

/* Contact Section queries */
@media screen and (max-height: 905px) {
  .company-ref {
    padding: 0;
  }
}

@media screen and (max-height: 905px) {
  hr {
    margin: 3rem;
  }
}

@media screen and (max-height: 740px) {
  hr {
    margin: 1rem;
  }
}

@media screen and (max-height: 600px) {
  hr {
    margin: 5px;
  }
}

@media screen and (max-width: 700px) {
  .company-ref {
    padding: 0;
  }

  .company-ref .company-right {
    margin: 1rem auto;
  }
}

@media screen and (max-width: 500px) {
  .company-content {
    line-height: 1.3rem;
  }
}

@media screen and (max-width: 400px) {
  .company-ref .company-right {
    display: none;
  }

  .company-ref .company-right-res {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .company-ref .company-right-res i {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 345px) {
  .company-content {
    margin: 1rem 0;
  }

  .company-ref .company-left h3 {
    padding: 0;
  }
}

@media screen and (max-width: 250px) {
  .company-ref {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 900px) {
  hr {
    margin: 1rem;
  }
}

@media screen and (max-height: 670px) {
  .company-content {
    line-height: 1.5;
  }
}

@media screen and (max-height: 590px) {
  .company-content {
    margin: 1rem;
  }
}
