:root {
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Cinzel', serif;
  /* line-height: 1.7rem; */
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
}

p {
  font-size: 1.1rem;
}

a {
  color: #0d89c5;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: none;
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

hr {
  margin: 3rem;
}

::-webkit-scrollbar {
  display: none;
}

/* Parallax */
.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper:before {
  content: '';
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('/img/bg-index-1.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  /* transform: translateZ(-1px) scale(2); */
}

.parallax-wrapper-2 {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper-2:before {
  content: '';
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('/img/bg-index-6.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  /* transform: translateZ(-1px) scale(2); */
}

.regular-wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: relative;
  background: #e7e6e6;
}

/* Utility */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
  height: auto;
}

.primary-app-color {
  color: #0d89c5;
}

.blank-bg {
  background: #e7e6e6;
}

/* Navbar */
#navbar {
  background-color: #e7e6e6;
  overflow: auto;
  height: auto;
}

#navbar a:hover {
  color: #4d4d4d;
}

#navbar .logo {
  float: left;
  padding: 1rem 0 1rem 0;
  width: 17rem;
}

/* Floater */
.floater {
  background: rgba(255, 255, 255, 0.8);
  margin: 25% 0;
  padding: 3rem 4rem;
}

.floater .floater-content {
  text-align: center;
  color: #0d89c5;
  overflow: hidden;
}

.floater .floater-content p a {
  color: #4d4d4d;
}

.floater .floater-content p a:hover {
  color: #0d89c5;
}

/* About Me */
.about-me-content {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.about-me-content h1,
h2 {
  color: #0d89c5;
  padding: 3rem 0 2rem 0;
}

.about-me-content h5 {
  color: #0d89c5;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.about-me-content p {
  line-height: 2rem;
  padding: 2rem 0 2rem 0;
}

.about-me-content li p {
  padding: 0;
}

.about-me-content li {
  list-style: none;
}

/* Testimonials */
.test-floater {
  margin-top: 4rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.test-floater h1,
h2 {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.test-floater h5,
p {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
}

.test-floater h5 {
  padding-bottom: 2rem;
}

.test-floater p {
  width: auto;
  padding: 0 5rem 3rem 5rem;
}

.test-inv-h2 {
  visibility: hidden;
}

.test-img {
  border-radius: 50%;
  height: auto;
  width: 30%;
  margin: 40px;
}

/* Company Info */
.contact-content {
  width: auto;
  text-align: center;
  overflow: hidden;
  line-height: 2rem;
  margin: 2rem;
}

.contact-ref {
  margin: auto;
  max-width: 100%;
  overflow: hidden;
  background: #e7e6e6;
  height: 90vh;
}

.contact-ref .contact {
  float: center;
}

.contact-ref .contact h3 {
  text-align: center;
  padding-top: 15px;
}

.contact-ref .contact p {
  line-height: 2rem;
  text-align: center;
}

.center i {
  margin: 2.5rem 1rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */
#footer {
  text-align: center;
  background: #fff;
  position: relative;
  margin: auto;
  color: #333;
  height: 10vh;
}

#footer p {
  padding: 30px;
}

@media screen and (max-width: 1300px) {
  html,
  body {
    font-size: 0.7rem;
  }

  .floater {
    margin: 20% 0;
  }

  .test-img {
    width: 15%;
  }

  .about-me-content p {
    padding: 1rem;
  }

  .about-me-content h1,
  h2 {
    padding: 2rem 0 2rem 0;
  }

  .about-me-content h5 {
    padding: 1rem 0;
  }

  .about-me-content li p {
    padding: 0;
  }
}

@media screen and (min-width: 750px) and (min-height: 1000px) {
  html,
  body {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) and (max-height: 900px) {
  .parallax-wrapper {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
  }

  .parallax-wrapper:before {
    content: '';
    width: 100vw;
    height: 100vh;
    left: 0;
    background-image: url('/img/bg-index-1.jpg');
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    /* transform: translateZ(-1px) scale(2); */
  }

  .parallax-wrapper-2 {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
  }

  .parallax-wrapper-2:before {
    content: '';
    width: 100vw;
    height: 100vh;
    left: 0;
    background-image: url('/img/bg-index-6.jpg');
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    /* transform: translateZ(-1px) scale(2); */
  }

  .floater {
    margin: 50% 0;
  }
}
